a {
    text-decoration: none; color: #598B2C;
}
a:focus {
    color: #598B2C;
}
a:visited {
    color:#94DB80;
  }
  a:hover {
    color: white;
}
p {
    color: #71B340; padding: 5px; width: 35vw;
}
/* make the text size change with resolution change */
footer {
    text-align: center; font-weight: bold;
}
html {
    background-color: #11270b;
}
.titlecolors {
    color: #3F8F28;
}
html {
    margin-left: 5px; margin-right: 5px;
}
.item.1{
    background-color: #422b15;
    width: 7vw; height: 25vw; font-size: 1.3vw;
}
.grid-container{
    display: grid; grid-column-start: 1vw;
}