a {
    text-decoration: none; 
    color: #598B2C;
}
a:focus {
    color: #598B2C;
}
a:visited {
    color:#94DB80;
  }
  a:hover {
    color: white;
}
p {
    color: #71B340; 
    padding: 5px; 
    width: 35vw;
}
/* make the text size change with resolution change */
footer {
    text-align: center; 
    font-weight: bold;
}
html {
    background-color: #11270b;
}
.titlecolors {
    color: #3F8F28;
}
html {
    margin-left: 5px; 
    margin-right: 5px;
}
.grid-container{
    display: grid; 
    grid-column-start: 1vw;
    float: left;
    padding: .5vw;
}
td{
    border: 2px solid black; 
    border-collapse: collapse;
    padding: .4vw;
    font-weight: bold;
}
table{
    width: fit-content; 
    border-collapse: collapse; 
    background-color: #422b15;
    text-align: center;
}
.dinosaur-intro{
    float: left;
}
img{
    height: 20vw;
    width: 35vw;
}
button{
    background-color: #265818;
    float: right;
}
.homebuttonlink{
    font-size: large;
}
.footersection{
    clear: both;
}